@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4a508e;
  --secondary: #e5f0f1;
  --tertiary: #00dc82;
  --primary-text: #000000;
  --secondary-text: #838383;
  --tertiary-text: #ffffff;
  --info: #00b2ff;
  --success: #67ca16;
  --warning: #ffa600;
  --danger: #c21d00;
  --dark-green: #003c3c;
}

* > * {
  font-family: "Urbanist", sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}
